{{car.yearOfProduction}}
<br />
From
<br />

  <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter1" [(ngModel)]="pick1" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <br />
  To
  <br />
  <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="myFilter2" [(ngModel)]="pick2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>

<button type="button" (click)="rentCar()" class="btn btn-danger btn-sm cell-buttons">Rent</button>
    <br />
    Price: {{(diffDays+1)*basePrice}}
